html {
  overflow-y: hidden;
}
.center {
	text-align: center;
}
.bg-while {
	background-color: #fff;
}
.bg-eee {
	 background-color: #eee; 
}

.m-top-56 {
	margin-top: 56px;
}
.p-top-20 {
	padding-top: 20px;
}

.img-responsive {
	display: block;	
	margin: 0 auto;	
	max-width: 100%;
	height: auto; 
}

.fixed-top-1 {
	position: fixed;
	top: 0;
}
.fixed-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.wrapper-default {
	height: calc(100vh - 56px);
  overflow-y: auto; 
}